<figure>
	<% unless selected %><a href="http://<%= interview.slug %>.usesthis.com/" title="View an interview with <%= interview.name %>."><% end %>
	<img src="<%= url_for("/images/portraits/#{interview.slug}.jpg") %>" width="500" height="335" class="portrait" alt="<%= interview.name %>">
	<% unless selected %></a><% end %>
</figure>

<h2 class="person">
	<% unless selected %><a href="http://<%= interview.slug %>.usesthis.com/" title="View an interview with <%= interview.name %>."><% end %>
	<%= interview.name %>
	<% unless selected %></a><% end %>
</h2>

<p class="summary"><%= interview.summary %></p>
<p class="details">
	<% if interview.published_on %>
	Posted <time datetime="<%= interview.published_on %>" pubdate><%= interview.published_on.strftime("%b %e, %Y") %></time> in
	<% else %>
	Unpublished, filed in
	<% end %>
	<% for category in interview.categories %>
		<a href="<%= url_for("/interviews/#{category.slug}/") %>" rel="<%= category.slug %>" title="View all of the '<%= category.slug %>' interviews."><%= category.slug %></a>
	<% end %>
</p>