<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">

<title>Uses This<% if page.category %> / <%= page.category.name %><% end %></title>
<link href="http://usesthis.com/<% if page.category %>/interviews/<%= page.category.slug %>/<% end %>feed.atom" rel="self"/>
<link href="http://usesthis.com/"/>
<updated><%= Time.new.strftime('%FT%T') %>Z</updated>
<id>http://usesthis.com/</id>
<author>
  <name>Daniel Bogan</name>
</author>

<% page.feed_posts.each do |interview| %>
<entry>
  <id>https://usesthis.com/interviews/<%= interview.slug %>/</id>
  <title><%= interview.title %></title>
  <link href="https://usesthis.com/interviews/<%= interview.slug %>/"/>
  <updated><%= interview.date.strftime('%FT%T') %>Z</updated>
  <content type="html">
    <%== "<p><img src=\"http://usesthis.com/images/interviews/#{interview.slug}/portrait.jpg\" width=\"500\" height=\"325\" alt=\"#{interview.title}\"></p>" %>
    <%== interview.rendered_contents %>
  </content>
</entry>
<% end %>

</feed>
