---
layout: default
title: API
---

<h2>The API</h2>
<p>Uses This provides a very simple API, based on the <a href="http://jsonapi.org/format/" title="The JSON API specification.">JSON API spec</a>. Since it's 100% static, all requests are GET requests. I'd love to know if you do something interesting with it!</p>

<h3 id="interviews-endpoints">Interviews</h3>

<h4 id="interviews-list">Getting a list</h4>
<p class="summary">This method returns a paginated list of all the interviews.</p>
<p><a href="/api/interviews" title="A list of all the interviews as JSON.">https://usesthis.com/api/interviews</a></p>
<pre>
<%= File.read(File.join(@site.output_paths[:site], 'api', 'interviews', 'index.json')) %>
</pre>

<h4 id="interviews-interview">Getting an interview</h4>
<p class="summary">This method returns a complete interview for the given slug.</p>
<p><a href="/api/interviews/<%= @site.latest_post.slug %>" title="A given interview as JSON.">https://usesthis.com/api/interviews/{slug}</a></p>
<pre>
<%= File.read(File.join(@site.output_paths[:site], 'api', 'interviews', @site.latest_post.slug, 'index.json')) %>
</pre>

<h3 id="categories">Categories</h3>

<h4 id="categories-list">Getting categories</h4>
<p class="summary">This method returns a basic list of all the interview categories.</p>
<p><a href="/api/categories" title="A list of all the interview categories as JSON.">https://usesthis.com/api/categories</a></p>
<pre>
<%= File.read(File.join(@site.output_paths[:site], 'api', 'categories', 'index.json')) %>
</pre>

<h4 id="categories-category">Getting a category</h4>
<p class="summary">This method returns a paginated list of all the interviews for the given category.</p>
<p><a href="/api/categories/mac" title="A list of a category's interviews as JSON.">https://usesthis.com/api/categories/{slug}</a></p>
<pre>
<%= File.read(File.join(@site.output_paths[:site], 'api', 'categories', 'mac', 'index.json')) %>
</pre>

<h3 id="gear">Gear</h3>

<h4 id="gear-list">Getting a list</h4>
<p class="summary">This method returns a paginated list of all the hardware or software mentioned on the site.</p>
<p>
  <a href="/api/hardware" title="A list of all the hardware as JSON.">https://usesthis.com/api/hardware</a><br>
  <a href="/api/software" title="A list of all the software as JSON.">https://usesthis.com/api/software</a><br>
</p>
<pre>
<%= File.read(File.join(@site.output_paths[:site], 'api', 'hardware', 'index.json')) %>
</pre>

<h4 id="gear-item">Getting an item</h4>
<p class="summary">This method returns a single piece of hardware or software for the given slug.</p>
<p>
  <a href="/api/hardware/macbook-pro" title="A given piece of hardware as JSON.">https://usesthis.com/api/hardware/{slug}</a><br>
  <a href="/api/software/photoshop" title="A given piece of software as JSON.">https://usesthis.com/api/software/{slug}</a>
</p>
<pre>
<%= File.read(File.join(@site.output_paths[:site], 'api', 'hardware', 'macbook-pro', 'index.json')) %>
</pre>

<h3 id="stats">Stats</h3>

<h4 id="stats-general">Getting general info</h4>
<p class="summary">This method returns basic site statistics.</p>
<p><a href="/api/stats" title="General site statistics as JSON.">https://usesthis.com/api/stats</a></p>
<pre>
<%= File.read(File.join(@site.output_paths[:site], 'api', 'stats', 'index.json')) %>
</pre>

<h4 id="stats-gear">Getting gear info</h4>
<p class="summary">This method returns the top 50 hardware or software items mentioned on the site. You can also specify a given year by adding it to the URL.</p>
<p>
  <a href="/api/stats/hardware" title="Recent hardware statistics as JSON.">https://usesthis.com/api/stats/hardware</a><br>
  <a href="/api/stats/software" title="Recent software statistics as JSON.">https://usesthis.com/api/stats/software</a><br>
</p>
<pre>
<%= File.read(File.join(@site.output_paths[:site], 'api', 'stats', 'hardware', 'index.json')) %>
</pre>