---
layout: default
title: Interviews
---

<h3>Overview</h3>
<p>There are currently <strong><%= @site.posts.length %></strong> interviews in <strong><%= @site.categories.length %></strong> categories, mentioning <strong><%= @site.hardware.length %></strong> bits of hardware and <strong><%= @site.software.length %></strong> bits of software.</p>

<% @site.archives.each do |year, data| %>
  <h4 id="<%= year %>"><a href="/interviews/<%= year %>/" title="View all interviews in <%= year %>."><%= year %></a></h4>

  <ul class="interviews">
    <% data[:posts].each do |interview| %>
      <li>
      <a href="http://<%= interview.slug %>.usesthis.com/" title="View an interview with <%= interview.name %>."><%= interview.name %></a><br>
      <span class="summary"><%= interview.summary %></span>
      </li>
    <% end %>
  </ul>
<% end %>