---
layout: default
title: Interviews
---

<h3>Overview</h3>
<p>There are currently <strong><%= @site.posts.length %></strong> interviews in <strong><%= @site.categories.length %></strong> categories, mentioning <strong><%= @site.wares.length %></strong> bits of hardware and software.</p>

<h4 id="dates">By date</h4>
<% @site.archives.each do |year, data| %>
  <section class="year">
    <a href="/interviews/<%= year %>/" title="View all interviews in <%= year %>."><strong><%= year %></strong></a><br>
    <ul class="months">
    <% %w{01 02 03 04 05 06 07 08 09 10 11 12}.each do |month| %>
      <% month_name = Time.mktime(year, month).strftime('%B') %>
      <li>
      <% if data[:months].include?(month) %>
      <a href="/interviews/<%= year %>/<%= month %>/" title="View all interviews from <%= month_name %> <%= year %>."><%= month_name %></a>
      <% else %>
      <%= month_name %>
      <% end %>
      </li>
    <% end %>
    </ul>
  </section>
<% end %>

<h4 id="categories">By category</h4>
<ul class="categories all">
<% @site.categories.keys.sort.each do |category| %>
  <li><a href="/interviews/<%= category %>" rel="category" title="View all <%= category.capitalize %> interviews."><%= category %></a><li>
<% end %>
</ul>