---
layout: default
title: Categories
---

<article>
  <header>
    <h3>No, not just Macs</h3>
    <p>There are currently <strong><%= @site.posts.count %></strong> interviews in <strong><%= @site.categories.count %></strong> categories.</p>
  </header>

  <section id="categories">
    <ul>
    <% @site.categories.keys.sort.each do |slug| %>
      <li>
        <strong><a href="/categories/<%= slug %>/" title="View all the '<%= slug %>' interviews."><%= slug %></a></strong> (<%= @site.categories[slug].count %>)<br>
        <span class="summary">Latest: <%= @site.categories[slug][0..2].map { |interview| "<a href=\"/interviews/#{interview.slug}\" title=\"View the interview with #{interview.title}.\">#{interview.title}</a>" }.join(', ') %></span>
      </li>
    <% end %>
    </ul>
  </section>
</article>