---
layout: default
title: Archives
---

<h2>Archives</h2>
<p>There's around <%= ((@site.posts.first.date - @site.posts.last.date) / 365).floor %> years of interviews to dig through. Enjoy!</p>

<% @site.archive.years.reverse.each do |year| %>
  <h3 id="<%= year %>"><%= year %></h3>
  <ul class="months">
    <% @site.archive.months(year).each do |month| %>
      <li>
        <a href="/archives/<%= year %>/<%= month %>/" title="All interviews from <%= @site.archive.month_posts(year, month)[0].date.strftime('%B, %Y') %>"><%= @site.archive.month_posts(year, month)[0].date.strftime('%B') %></a><br>
        <span class="summary"><%= @site.archive.month_posts(year, month).count %> interview<%= 's' unless @site.archive.month_posts(year, month).count == 1 %></span>
      </li>
    <% end %>
  </ul>
<% end %>
