<h2>Community</h2>
<p>Some awesome people have taken the time to make localised Setup-style sites, picking the brains of the people around them. Others have written up personal interviews with themselves. They're listed here.</p>

<article class="localised">
<h3>Localised or inspired by</h3>
<ul>
<% for link in @inspired_links %>
<li>
	<a href="<%= link.url %>" title="View <%= link.name %>."><%= link.name %></a><% unless link.description.empty? %> <span class="summary">(<%= link.description %>)</span><% end %><% end %></li>
</ul>
</article>

<article class="personal">
<h3>Personal</h3>
<ul>
<% for link in @personal_links %>
<li><a href="<%= link.url %>" title="View an interview with <%= link.name %>."><%= link.name %></a><% end %></li>
</ul>
</article>