<h2>Interviews</h2>
<p>There are currently <%= @counts['total'] %> interviews on the site.</p>

<article class="dates">
	<h3>By year</h3>
	<ul id="years">
	<% for year, count in @counts['years'] %>
		<li>
			<a href="/interviews/in/<%= year %>" title="View all the interviews from <%= year %>."><%= year %></a> <span class="summary">(<%= count %> interview<% if count != 1 %>s<% end %>)</span>
		</li>
	<% end %>
	</ul>
</article>

<article class="categories">
	<h3>By category</h3>
	<p>
		<% for category in @categories %>
			<a href="/interviews/<%= category.slug %>/" rel="<%= category.slug %>" title="View all of the '<%= category.slug %>' interviews."><%= category.slug %></a>
		<% end %>
	</p>
</article>