<?xml version="1.0" encoding="utf-8" ?>
<feed xmlns="http://www.w3.org/2005/Atom">
	<title>The Setup / Interviews<% end %></title>
	<link href="http://usesthis.com/services/atom/interviews" />
	<link href="/services/atom/interviews/" rel="self" />
	<id>http://usesthis.com/services/atom/interviews</id>
	<updated><%= @interviews[0].published_on.strftime('%FT%TZ') %></updated>
	<author><name>Daniel Bogan</name></author>
	<% for interview in @interviews %>
	<entry>
		<id>interviews:<%= interview.slug %></id>
		<title><%= interview.name %></title>
		<link href="http://<%= interview.slug %>.usesthis.com/" />
		<link href="/services/atom/interviews/<%= interview.slug %>" rel="edit" />
		<published><%= interview.published_on.strftime('%FT%TZ') %></published>
		<updated><%= interview.published_on.strftime('%FT%TZ') %></updated>
		<% for category in interview.categories %><category term="<%= category.slug %>" /><% end %>
		<content type="text"><%= CGI::escapeHTML(interview.answers) %></content>
	</entry>
	<% end %>
</feed>