<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">

<title>Uses This<% if @category %> / <%= @category %><% end %></title>
<link href="https://usesthis.com/<% if @category %>/interviews/<%= @category %>/<% end %>feed.atom" rel="self"/>
<link href="https://usesthis.com/"/>
<updated><%= Time.new.strftime('%FT%T') %>Z</updated>
<id>http://usesthis.com/</id>
<author>
  <name>Daniel Bogan</name>
</author>

<% @posts.each do |post| %>
<entry>
  <id>https://usesthis.com/interviews/<%= post.slug %>/</id>
  <title><%= post.title %></title>
  <summary><%= post.summary %></summary>
  <link href="https://usesthis.com/interviews/<%= post.slug %>/"/>
  <updated><%= post.date.strftime('%FT%T') %>Z</updated>
  <content type="html">
    <%= ERB::Escape.html_escape("<p><img src=\"http://usesthis.com/images/interviews/#{post.slug}/portrait.jpg\" width=\"500\" height=\"325\" alt=\"#{post.title}\"></p>\n#{post.template.render}<p><strong>Enjoy the interview?</strong> You can support independant publishing and help keep the site ad-free by <a href=\"https://ko-fi.com/waferbaby\" title=\"Support the site via ko-fi.com.\">buying me a coffee!</a></p>") %>
  </content>
</entry>
<% end %>

</feed>
