---
layout: default
title: About
---

<article id="about">
  <h3>What's all this?</h3>
  <p>The Setup is a collection of nerdy interviews asking people from all walks of life what they use to get the job done.</p>

  <section id="faq">
    <h4>Questions</h4>
    <dl>
      <dt>When are new interviews posted?</dt>
      <dd>Every <strong>Tuesday</strong> and <strong>Thursday</strong>.</dd>
      
      <dt>Can I suggest someone to interview?</dt>
      <dd>Please! Either via email or on Twitter (see below).</d>

      <dt>Can I suggest myself?</dt>
      <dd>I'd love it if you'd write up an interview with yourself, post it online and send me the link (or <a href="https://github.com/waferbaby/usesthis/fork" title="Create a fork of The Setup.">fork the site</a> and make a pull request)! I'll add it to the <a href="/community/" title="The community page.">Community</a> page.</dd>

      <dt>Isn't this some sort of Apple fan site?</dt>
      <dd>Surprisingly not! People just like using their stuff.</dd>

      <dt>Can I make my own version of The Setup?</dt>
      <dd><strong>Yeah!</strong> Everything is freely available <a href="http://github.com/waferbaby/usesthis/" title="The source code for the site.">on Github</a> - go nuts! And let me know if you do, so I can link to it.</dd>

      <dt>Who runs The Setup?</dt>
      <dd>Daniel. I'm just some guy.</dd>

      <dt>How do I get in touch with you?</dt>
      <dd>Send an email to the fourth letter of the English alphabet, followed by the 'at' symbol, care of this domain. Or you can ping me <a href="http://twitter.com/usesthis/" title="The usesthis Twiter account.">on Twitter</a>.</dd>
    </dl>
  </section>

  <section id="gear">
    <h4>Popular gear</h4>
    <p>This is the hardware and software most mentioned on the site.</p>

    <div id="hardware">
      <h5>Hardware</h5>
      <ol>
        <% @site.popular_hardware.each do |item| %>
        <li>
          <a href="<%= item.url %>" title="<% item.description %>"><%= item.name %></a><br>
          <span class="summary"><%= item.description %></span>
        </li>
        <% end %>
      </ol>
    </div>

    <div id="software">
      <h5>Software</h5>
      <ol>
        <% @site.popular_software.each do |item| %>
        <li>
          <a href="<%= item.url %>" title="<% item.description %>"><%= item.name %></a><br>
          <span class="summary"><%= item.description %></span>
        </li>
        <% end %>
      </ol>
    </div>
  </section>
</article>