<?xml version="1.0" encoding="utf-8" ?>
<feed xmlns="http://www.w3.org/2005/Atom">
	<id>usesthis.admin.interviews</id>
	<updated><%= (@interviews[0].date_publish ? @interviews[0].date_publish : @interviews[0].date_create).strftime('%FT%TZ') %></updated>
	<author><name>Daniel Bogan</name></author>
	<% for interview in @interviews %>
	<entry>
		<id>http://<%= interview.slug %>.usesthis.com/</id>
		<title><%= interview.name %></title>
		<link href="http://<%= interview.slug %>.usesthis.com/" />
		<link rel="edit" href="/interviews/<%= interview.slug %>" />
		<published><%= (interview.date_publish ? interview.date_publish : interview.date_create).strftime('%FT%TZ') %></published>
		<updated><%= (interview.date_publish ? interview.date_publish : interview.date_create).strftime('%FT%TZ') %></updated>
		<content type="text"><%= CGI.escapeHTML(interview.answers) %></content>
	</entry>
	<% end %>
</feed>
