<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
 
<title>The Setup<% if @category %> / <%= @category.capitalize %><% end %></title>
<link href="http://usesthis.com/<% if @category %>/interviews/<%= @category %><% end %>feed/" rel="self"/>
<link href="http://usesthis.com/"/>
<updated><%= Time.new.strftime('%FT%T') %>Z</updated>
<id>http://usesthis.com/</id>
<author>
  <name>Daniel Bogan</name>
</author>

<% @posts.each do |interview| %>
<entry>
  <title><%= interview.name %></title>
  <link href="http://<%= interview.slug %>.usesthis.com/"/>
  <updated><%= interview.date.strftime('%FT%T') %>Z</updated>
  <id>http://<%= interview.slug %>.usesthis.com/</id>
  <content type="html">
    <%== "<p><img src=\"http://usesthis.com/images/portraits/#{interview.slug}.jpg\" width=\"500\" height=\"325\" alt=\"#{interview.name}\"></p>" %>
    <%== interview.contents %>
  </content>
</entry>
<% end %>

</feed>