---
layout: default
---

<% @posts.each do |interview| %>
  <article class="interviewee">
    <%= @site.render('interviews/header', {interview: interview}) %>
  </article>
<% end %>

<% if @pagination[:pages] > 1 %>
  <nav id="paginator">
  <% if @pagination[:previous_page] %><a href="<%= @pagination[:path] if @pagination[:path] %><% if @pagination[:previous_page] != 1 %>page<%= @pagination[:previous_page] %><% end %>" title="Go to page <%= @pagination[:previous_page] %> of the interviews.">Previous</a><% else %><span>Previous</span><% end %>
  - Page <strong><%= @pagination[:page] %></strong> of <strong><%= @pagination[:pages] %></strong> (<%= @pagination[:total] %> interview<% if @pagination[:total] != 1 %>s<% end %>) -
  <% if @pagination[:next_page] %><a href="<%= @pagination[:path] if @pagination[:path] %>page<%= @pagination[:next_page] %>" title="Go to page <%= @pagination[:next_page] %> of the interviews.">Next</a><% else %><span>Next</span><% end %>
  </nav>
<% end %>