---
layout: default
---

<article class="interview">
  <header>
    <figure>
      <img src="/images/portraits/<%= @this.slug %>.jpg" width="500" height="335" class="portrait" alt="<%= @this.name %>">
      <% if @this.credits %>
      <figcaption>Photo by <% if @this.credits['url'] %><a href="<%= @this.credits['url'] %>" title="View more about <%= @this.credits['name'] %>."><%= @this.credits['name'] %></a><% else %><%= @this.credits['name'] %><% end %>.</figcaption>
      <% end %>
    </figure>
    <h3 class="person"><%= @this.name %></h3>
    <p class="summary"><%= @this.summary %></p>
    <p class="details">Posted <time datetime="<%= @this.date.strftime('%Y-%m-%d') %>"><%= @this.date.strftime('%B %d, %Y') %>.</time></p>
    <ul class="categories">
    <% @this.categories.each do |category| %><li><a href="/interviews/<%= category %>/" title="View all the <%= category.capitalize %> interviews."><%= category %></a></li><% end %>
    </ul>
  </header>

  <%= @this.markdown %>

  <% if @this.license %>
  <p class="license">This interview is available under the <a href="http://creativecommons.org/licenses/<%= @this.license %>/3.0/" title="View details of the license."><%= @this.license.upcase %> Creative Commons license</a>.</p>
  <% end %>
</article>