---
layout: default
title: Interviews
---

<% if pagination.current_page == 1 && !page.category && !page.archive_type %>
  <h2>Welcome!</h2>
  <p><%= site.data.description %></p>
<% else %>
  <h2><%= page.title || template.title %><% if pagination.current_page > 1 %> (Page <%= pagination.current_page %>)<% end %></h2>
  <p>
  <% if page.archive_type || page.category %>
    There<% if pagination.post_count > 1 %> are<% else %>'s<% end %> <%= pagination.post_count %> interview<%if pagination.post_count > 1 %>s<% end %> <% if page.category %>in this category.<% elsif page.archive_type %>this <%= page.archive_type %>.<% end %>
  <% end %>
  Happy reading!
  </p>
<% end %>

<% pagination.posts.each do |interview| %>
<article class="interviewee h-card">
  <%= render('shared.interviewee', interview: interview, selected: false) %>
</article>
<% end %>

<% if pagination.page_count > 1 %>
  <nav id="paginator">
    <p>Page <strong><%= pagination.current_page %></strong> of <strong><%= pagination.page_count %></strong></p>
    <span id="previous"><% if pagination.previous_page %><a href="<%= pagination.urls.previous_page %>" title="Page <%= pagination.previous_page %> of the interviews."><% end %>Previous<% if pagination.previous_page %></a><% end %></span>
    <span id="next"><% if pagination.next_page %><a href="<%= pagination.urls.next_page %>" title="Page <%= pagination.next_page %> of the interviews."><% end %>Next<% if pagination.next_page %></a><% end %></span>
  </nav>
<% end %>
