---
layout: default
---

<article class="interview">
  <img src="/images/portraits/<%= @this.slug %>.jpg" width="500" height="335" class="portrait" alt="<%= @this.name %>">
  <h3 class="person"><%= @this.name %></h3>
  <p class="summary"><%= @this.summary %></p>
  <p class="date">Posted <time datetime="<%= @this.date.strftime('%Y-%m-%d') %>"><%= @this.date.strftime('%b %d, %Y') %>.</time></p>
  <% if @this.credits %>
    <p class="credits">Photo by <% if @this.credits['url'] %><a href="<%= @this.credits['url'] %>" title="View more about <%= @this.credits['name'] %>."><%= @this.credits['name'] %></a><% else %><%= @this.credits['name'] %><% end %></p>
  <% end %>
  <ul class="categories">
    <% @this.categories.each do |category| %><li><a href="/interviews/<%= category %>/" title="View all the <%= category.capitalize %> interviews."><%= category %></a></li><% end %>
  </ul>
</article>

<div id="answers">
<%= @this.contents %>

<% if @this.license %>
<p class="license">This interview is available under the <a href="http://creativecommons.org/licenses/<%= @this.license %>/3.0/" title="View details of the license."><%= @this.license.upcase %> Creative Commons license</a>.</p>
<% end %>
</div>