---
layout: default
title: Interviews
---

<h2><%= page.title || template.title %><% if pagination.current_page > 1 %> (Page <%= pagination.current_page %>)<% end %></h2>
<p>There<% if pagination.post_count > 1 %> are<% else %>'s<% end %> <%= pagination.post_count %> interview<%if pagination.post_count > 1 %>s<% end %> <% if page.category %>in this category.<% elsif page.archive_type %>this <%= page.archive_type %>.<% else %>on the site. Happy reading!<% end %></p>

<% pagination.posts.each do |interview| %>
<article class="interviewee h-card">
  <%= render('shared.interview_header', interview: interview, selected: false) %>
</article>
<% end %>

<% if pagination.page_count > 1 %>
  <nav id="paginator">
  Page <strong><%= pagination.current_page %></strong> of <strong><%= pagination.page_count %></strong> (<%= pagination.post_count %> interview<% if pagination.post_count > 1 %>s<% end %>):
  <% if pagination.previous_page %><a href="<%= pagination.urls.previous_page %>" title="Page <%= pagination.previous_page %> of the interviews." id="previous">Previous</a><% else %><span id="previous">Previous</span><% end %>
  /
  <% if pagination.next_page %><a href="<%= pagination.urls.next_page %>" title="Page <%= pagination.next_page %> of the interviews." id="next">Next</a><% else %><span id="next">Next</span><% end %>
  </nav>
<% end %>