---
layout: default
---

<article id="interview" class="h-entry">
  <div class="e-content">
    <figure>
      <img src="/images/portraits/<%= @this.slug %>.jpg" width="500" height="335" class="portrait" alt="<%= @this.title %>">
      <% if @this.credits %>
        <figcaption>Photo by <% if @this.credits['url'] %><a href="<%= @this.credits['url'] %>" title="View more about <%= @this.credits['name'] %>."><%= @this.credits['name'] %></a><% else %><%= @this.credits['name'] %><% end %>.</figcaption>
      <% end %>
    </figure>
    <header>
      <h3 class="p-name"><%= @this.title %></h3>
      <p class="summary p-summary"><%= @this.summary %></p>
      <time datetime="<%= @this.date.strftime('%Y-%m-%d') %>" class="dt-published"><%= @this.date.strftime('<a href="/interviews/%Y/%m/" title="View all the interviews from %B, %Y.">%B %d</a>, <a href="/interviews/%Y/" title="View all the interviews from %Y.">%Y</a>') %>.</time>
      <nav class="categories">
        <ul>
        <% @this.categories.each do |slug| %><li><a href="/categories/<%= slug %>/" title="View all the '<%= slug %>' interviews." class="p-category"><%= slug %></a></li><% end %>
        </ul>
      </nav>
    </header>
    <%= yield %>
  </div>

  <% if @this.license %>
  <p class="license">This interview is available under the <a href="http://creativecommons.org/licenses/<%= @this.license %>/3.0/" title="View details of the license."><%= @this.license.upcase %> Creative Commons license</a>.</p>
  <% end %>

  <nav id="paginator">
  <% if @this.previous_post %>Previously: <a href="/interviews/<%= @this.previous_post.slug %>/" title="View the interview with <%= @this.previous_post.title %>" id="previous"><%= @this.previous_post.title %></a><% end %>
  <% if @this.previous_post && @this.next_post %>/<% end %>
  <% if @this.next_post %>Next up: <a href="/interviews/<%= @this.next_post.slug %>/" title="View the interview with <%= @this.next_post.title %>" id="next"><%= @this.next_post.title %></a><% end %>
  </nav>
</article>