---
layout: default
title: Interviews
---

<% @items.each do |interview| %>
<article class="interviewee h-card vcard">
  <a href="/interviews/<%= interview.slug %>/" title="View the interview with <%= interview.title %>." class="p-name">
    <img src="/images/interviews/<%= interview.slug %>/portrait.jpg" width="500" height="335" class="portrait" alt="<%= interview.title %>">
    <h3 class="p-name"><%= interview.title %></h3>
  </a>
  <p class="summary p-summary"><%= interview.summary %></p>
  <time datetime="<%= interview.date.strftime('%Y-%m-%d') %>" class="dt-published">Published <%= interview.date.strftime('<a href="/interviews/%Y/%m/" title="View all the interviews from %B, %Y.">%B %d</a>, <a href="/interviews/%Y/" title="View all the interviews from %Y.">%Y</a>') %>.</time>
</article>
<% end %>

<% if @pagination && @pagination[:page_count] > 1 %>
  <p id="paginator">
  Page <strong><%= @pagination[:current_page] %></strong> of <strong><%= @pagination[:page_count] %></strong> (<%= @pagination[:item_count] %> interview<% if @pagination[:item_count] > 1 %>s<% end %>):
  <% if @pagination[:previous_page] %><a href="<%= @pagination[:previous_page_url] %>" title="Go to page <%= @pagination[:previous_page] %> of the interviews." id="previous">Previous</a><% else %><span id="previous">Previous</span><% end %>
  /
  <% if @pagination[:next_page] %><a href="<%= @pagination[:next_page_url] %>" title="Go to page <%= @pagination[:next_page] %> of the interviews." id="next">Next</a><% else %><span id="next">Next</span><% end %>
  </p>
<% end %>