---
layout: default
title: Interviews
---

<% if @pagination[:current_page] == 1 && !@category %>
  <h2>Welcome!</h2>
  <p>Uses This is a collection of nerdy interviews asking people from all walks of life what they use to get the job done.</p>
<% else %>
  <h2><% if @category %><%= @category.capitalize %><% else %>Interviews<% end %><% if @pagination[:current_page] > 1 %> (Page <%= @pagination[:current_page] %>)<% end %></h2>
  <p>There are <%= @pagination[:post_count] %> interviews<% if @category %> in this category<% end %>. Happy reading!</p>
<% end %>

<% @pagination[:posts].each do |post| %>
  <article class="interviewee h-card">
    <a href="/interviews/<%= post.slug %>" title="An interview with <%= post.title %>." class="u-url">
      <figure>
        <img src="/images/interviews/<%= post.slug %>/portrait.jpg" width="500" height="335" class="portrait u-photo" alt="A picture of <%= post.title %>">
      </figure>
      <h3><%= post.title %></h3>
    </a>
    <p class="summary p-job-title"><%= post.summary %></p>
    <p class="details">
    <time datetime="<%= post.date.strftime('%Y-%m-%d') %>" class="dt-published"><%= post.date.strftime('%B %d, %Y') %></time> in
    <% post.categories.each do |slug| %>
      <a href="/categories/<%= slug %>/" title="All the <%= slug %> interviews." class="p-category"><%= slug %></a><%= ', ' unless post.categories.last == slug %>
  <% end %>
    </p>
  </article>
<% end %>

<% if @pagination[:page_count] > 1 %>
  <nav id="paginator">
    <p>Page <strong><%= @pagination[:current_page] %></strong> of <strong><%= @pagination[:page_count] %></strong></p>
    <span id="previous"><% if @pagination[:previous_page] %><a href="<%= @pagination[:urls][:previous_page] %>" title="Page <%= @pagination[:previous_page] %> of the interviews."><% end %>Previous<% if @pagination[:previous_page] %></a><% end %></span>
    <span id="next"><% if @pagination[:next_page] %><a href="<%= @pagination[:urls][:next_page] %>" title="Page <%= @pagination[:next_page] %> of the interviews."><% end %>Next<% if @pagination[:next_page] %></a><% end %></span>
  </nav>
<% end %>
