---
layout: default
title: Interviews
---

<% if @page.pagination.current_page == 1 && !@page.category %>
  <h2>Welcome!</h2>
  <p>Uses This is a collection of nerdy interviews asking people from all walks of life what they use to get the job done.</p>
<% else %>
  <h2><% if @page.category %><%= @page.category.capitalize %><% else %>Interviews<% end %><% if @page.pagination.current_page > 1 %> (Page <%= @page.pagination.current_page %>)<% end %></h2>
  <p>There's <%= @page.pagination.post_count %> interview<% if @page.pagination.post_count != 1 %>s<% end %><% if @page.category %> in this category<% end %>. Happy reading!</p>
<% end %>

<% @page.posts.each_with_index do |post, index| %>
  <article class="interviewee h-card">
    <a href="/interviews/<%= post.slug %>" title="An interview with <%= post.title %>." class="u-url">
      <% unless post.portrait == false %>
        <figure>
          <img src="/images/interviews/<%= post.slug %>/portrait.jpg" width="500" height="335" class="portrait u-photo" alt="A picture of <%= post.title %>"<% if index >= 1 %> loading="lazy"<% end %>>
        </figure>
      <% end %>
      <h3><%= post.title %></h3>
    </a>
    <p class="summary p-job-title"><%= post.summary %></p>
    <p class="details">
    <time datetime="<%= post.date.strftime('%Y-%m-%d') %>" class="dt-published"><%= post.date.strftime('%B %d, %Y') %></time> in
    <% post.categories.each do |slug| %>
      <a href="/categories/<%= slug %>/" title="All the <%= slug %> interviews." class="p-category"><%= slug %></a><%= ', ' unless post.categories.last == slug %>
  <% end %>
    </p>
  </article>
<% end %>

<% if @page.pagination.page_count > 1 %>
  <nav id="paginator">
    <p>Page <strong><%= @page.pagination.current_page %></strong> of <strong><%= @page.pagination.page_count %></strong></p>
    <span id="previous"><% if @page.pagination.previous_page %><a href="<%= @page.pagination.urls.previous_page %>" title="Page <%= @page.pagination.previous_page %> of the interviews."><% end %>Previous<% if @page.pagination.previous_page %></a><% end %></span>
    <span id="next"><% if @page.pagination.next_page %><a href="<%= @page.pagination.urls.next_page %>" title="Page <%= @page.pagination.next_page %> of the interviews."><% end %>Next<% if @page.pagination.next_page %></a><% end %></span>
  </nav>
<% end %>
