<figure>
<% if @selected %>
  <img src="/images/interviews/<%= @interview.slug %>/portrait.jpg" width="500" height="335" class="portrait" alt="<%= @interview.title %>">
  <% if @interview.credits %>
    <figcaption>Photo by <% if @interview.credits['url'] %><a href="<%= @interview.credits['url'] %>" title="View more about <%= @interview.credits['name'] %>."><%= @interview.credits['name'] %></a><% else %><%= @interview.credits['name'] %><% end %>.</figcaption>
  <% end %>
<% else %>
  <a href="/interviews/<%= @interview.slug %>/" title="Read the interview with <%= @interview.title %>.">
    <img src="/images/interviews/<%= @interview.slug %>/portrait.jpg" width="250" height="167" class="portrait" alt="<%= @interview.title %>">
  </a>
<% end %>
</figure>
<h3>
<% if @selected %>
  <%= @interview.title %>
<% else %>
  <a href="/interviews/<%= @interview.slug %>/" title="Read the interview with <%= @interview.title %>."><%= @interview.title %></a>
<% end %>
</h3>
<p class="summary"><%= @interview.summary %></p>
<time datetime="<%= @interview.date.strftime('%Y-%m-%d') %>"><%= @interview.date.strftime('%B %d, %Y') %></time>
<nav class="categories">
  <ul>
  <% @interview.categories.each do |slug| %>
    <li><a href="/categories/<%= slug %>/" title="View all the <%= @site.categories[slug].name %> interviews." class="p-category"><%= slug %></a></li>
  <% end %>
  </ul>
</nav>