---
layout: default
title: Community
---

<article id="community">
  <h3>Friends of The Setup</h3>
  <p>Some awesome people have taken the time to make localised Setup-style sites, picking the brains of the people around them, or those within a particular field of interest. Others have written up personal interviews with themselves. All are awesome.</p>

  <section id="links">
    <h4 id="inspired">Inspired</h4>
    <ul>
      <% @site.inspired_links.each do |link| %>
      <li>
        <a href="<%= link.url %>" title="View <%= link.name %>."><%= link.name %></a><br>
        <span class="summary"><%= link.description %></span>
      </li>
      <% end %>
    </ul>
    <h4 id="personal">Personal</h4>
    <ul>
      <% @site.personal_links.each do |link| %>
      <li><a href="<%= link.url %>" title="View <%= link.name %>."><%= link.name %></a></li>
      <% end %>
    </ul>
  </section>
</article>